<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css" />


<div id="wrapper" class="content">
    <!--<main-nav></main-nav>-->

    <div class="columns">
        
        <main class="column is-12">

            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="footer">
        Angular v6.x + Firebase PWA Starter App <br> Build me from scratch at <a href="https://angularfirebase.com">AngularFirebase.com</a><br>
        <br>Open Source | MIT License | Created by <a href="https://jeffdelaney.me">Jeff Delaney</a>
    </footer>
</div>